
.nav {
  grid-area: nav;
  background-color: white;
  min-height: calc(100vh - 110px);
  box-shadow: 0 1px 10px 0 rgba(51, 51, 51, 0.2);
}

.nav ul {
  margin: 0;
  padding: 0;
  padding-top: 15px;
  text-align: center;
}

.item {
  list-style: none;
  font-size: 1.2em;
  border-bottom: 1px solid lightgray;
  padding: 5px 0;
  margin: 0 10px;
}

.item .active {
  color: cornflowerblue;
}

.nav ul li a {
  color: dimgray;
  text-decoration: none;
}