html, body {
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  font-family: "Titillium Web", sans-serif;
}

.app-wrapper {
  display: grid;
  grid-template-areas: 
  "header header"
  "nav content";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.app-wrapper-content {
  grid-area: content;
  display: flex;
  width: 70vw;
  flex-direction: column;
}