.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    background-color: white;
    min-height: calc(100vh - 150px);
    box-shadow: 0 1px 10px 0 rgba(51, 51, 51, 0.2);
}

.dialogItems {
    padding: 5px;
    padding-left: 10px;
    min-width: 150px;
}

.messages {
    padding: 20px;
    border-left: 1px solid lightgray;
}

#addMessage {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 60px;
    width: 90%;
}

#addMessage textarea {
    height: 100px;
}

#addMessage button {
    width: 100px;
}