.message {
    display: flex;
}

.messageAuthor {
    display: flex;
    flex-direction: column;
}

.messageText {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 5px;
    padding-left: 20px;
    background-color: ghostwhite;
}

.message img {
    width: 40px;
}